@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pridi-Regular';
  src: url('~assets/fonts/PridiRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pridi-Medium';
  src: url('~assets/fonts/PridiMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pridi-SemiBold';
  src: url('~assets/fonts/PridiSemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pridi-Bold';
  src: url('~assets/fonts/PridiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 66px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #bc9d66;
    border-radius: 10px;
    border: 1px solid #000000;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(188, 157, 102, 0.2);
  }
}
